@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=cyrillic');

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #000;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(16,16,16,1);
}
::-webkit-scrollbar-thumb:active {
    background: #000;
}

.contact__form ::-webkit-input-placeholder {
    color: #fff;
}
.contact__form ::-moz-placeholder {
    color: #fff;
}
.contact__form :-ms-input-placeholder {
    color: #fff;
}
.contact__form :-moz-placeholder {
    color: #fff;
}

body{
    font-family: 'Montserrat', sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #222;
}
.slick-vertical .slick-slide{
    border: none;
}
.slick-slide{
    outline: none;
}
a{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
img{
    max-width: 100%;
    height: auto;            
}
.row{
    margin-right: -5px;
    margin-left: -5px;
}
.col{
    padding-right: 5px!important;
    padding-left: 5px!important;
}
h1{
    font-weight: 300;
    line-height: 36px;
    font-size: 40px;
    text-transform: uppercase;
    color: #222222;
    &.text-center{
        &::after{
            margin: 27px auto 22px;
        }
    }
    &::after{
        content: '';
        width: 60px;
        height: 1px;
        display: block;
        background-color: #222;
        margin: 27px 0 22px;
    }
}
p{
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
    color: #505050;
}
form{
    margin-bottom: 0;
}
input{
    width: 100%;
    height: 32px;
    font-weight: 300;
    line-height: 13px;
    font-size: 13px;
    padding: 0 12px;
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255,0.4);
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    margin-bottom: 10px;
    &.grey__field{
        border: 1px solid #dfdfdf;
        color: #222222;
    }
    &.wpcf7-not-valid{
        border-color: #F6AFAF;
    }
}
textarea{
    width: 100%;
    min-height: 79px;
    font-weight: 300;
    line-height: 13px;
    font-size: 13px;
    padding: 9px 12px;
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255,0.4);
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    resize: none;
    margin-bottom: 10px;
    &.grey__field{
        border: 1px solid #EEEEEE;
        color: #A6A6A6;
    }
}
input[type="submit"],
button{
    width: auto;
    min-width: 136px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 25px;
    line-height: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 0;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover{
        background: #222;
        color: #fff;
    }
    &.grey__field{
        background: #222;
        color: #fff;
        margin-top: 20px;
        &:hover{
            background: #696969;
        }
    }
}
.no__content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #292929;
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #eee;
        &::after{
            margin: 27px auto 22px;
            background-color: #eee;
        }
    }
}
/*Preloader*/
.preloader__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #222;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.hide__loader{
        opacity: 0;
        visibility: hidden;
    }
    .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        img{
            width: 300px;
        }
    }
    .line{
        height: 3px;
        width: 1%;
        position: absolute;
        top: 50%;
        left: 0%;
        margin-top: 30px;
        background-color: #bebebe;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}
/*Header*/
.admin-bar header{
    top: 32px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 1000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &.dark,
    &.open{
        background-color: #181818;
    }
    .logo__block{
        position: absolute;
        top: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .nav__block{
        position: relative;
        z-index: 200;
    }
}
.nav__row{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 200;
}
.menu__burger{
    width: 24px;
    height: 23px;
    margin-top: 21px;
    margin-left: 20px;
    float: left;
    position: relative;
    cursor: pointer;
    span{
        width: 24px;
        height: 1px;
        display: block;
        opacity: 0.6;
        border: 1px solid #FFFFFF;
        position: absolute;
        left: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:nth-child(1){
            top: 4px;
        }
        &:nth-child(2){
            top: 12px;
        }
        &:nth-child(3){
            top: 20px;
        }
    }
    &.show__bar{
        span{
            &:nth-child(1){
                top: 13px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -30px;
            }
            &:nth-child(3){
                top: 13px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
}
.lang__block{
    margin-top: 16px;
    margin-right: 20px;
    .get__call{
        width: 32px;
        height: 32px;
        float: left;
        margin-right: 20px;
        cursor: pointer;
        text-align: center;
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
            border: 1px solid rgba(255,255,255,0.3);
            border-radius: 50%;
            animation: pulse 2s infinite;
        }
        &:hover img{
            animation: phone-icon 3000ms infinite;
        }
        img{
            margin: 10px 0;
        }
    }
    .lang__switcher{
        margin-top: 9px;
        float: left;
        a{
            float: left;
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0 10px;
            opacity: 0.3;
            &.active,
            &:hover{
                opacity: 1;
                text-decoration: none;
            }
        }
        span{
            width: 1px;
            height: 16px;
            display: block;
            background-color: rgba(255,255,255,0.3);
            float: left;
        }
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
        box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
}
@keyframes phone-icon {
    0% { transform: translate3d(0em, 0, 0); }
    2% { transform: translate3d(1.5px, 0, 0); }
    4% { transform: translate3d(-1.5px, 0, 0); }
    6% { transform: translate3d(1.5px, 0, 0); }
    8% { transform: translate3d(-1.5px, 0, 0); }
    10% { transform: translate3d(1.5px, 0, 0); }
    12% { transform: translate3d(-1.5px, 0, 0); }
    14% { transform: translate3d(1.5px, 0, 0); }
    16% { transform: translate3d(-1.5px, 0, 0); }
    18% { transform: translate3d(1.5px, 0, 0); }
    20% { transform: translate3d(-1.5px, 0, 0); }
    22% { transform: translate3d(1.5px, 0, 0); }
    24% { transform: translate3d(-1.5px, 0, 0); }
    26% { transform: translate3d(1.5px, 0, 0); }
    28% { transform: translate3d(-1.5px, 0, 0); }
    30% { transform: translate3d(1.5px, 0, 0); }
    32% { transform: translate3d(-1.5px, 0, 0); }
    34% { transform: translate3d(1.5px, 0, 0); }
    36% { transform: translate3d(-1.5px, 0, 0); }
    38% { transform: translate3d(1.5px, 0, 0); }
    40% { transform: translate3d(-1.5px, 0, 0); }
    42% { transform: translate3d(1.5px, 0, 0); }
    44% { transform: translate3d(-1.5px, 0, 0); }
    46% { transform: translate3d(0em, 0, 0); }
}
@include media-breakpoint-down(xs) {
    header .logo__block{
        width: 100px;
        top: 25px;
    }
    .lang__block {
        margin-right: 10px;
        .get__call{
            display: none;
        }
    }
    .main__menu, 
    .menu__burger,
    .projects__menu{
        margin-left: 10px;
    }
}
/*Sidebar navigation*/
.full__nav{
    width: 100%;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(34,34,34,0.9);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
    z-index: 300;
    .line{
        width: 1px;
        position: absolute;
        top: 50px;
        bottom: 105px;
        background-color: #fff;
        opacity: 0.15;
        display: block;
        right: -0.5px;
    }
    &.show__bar{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .nav__row{
        width: 80%;
        max-width: 1140px;
        margin: 0 auto;
        height: 100%;
        position: relative;
    }
    .nav__col{
        width: 50%;
        float: left;
        height: 100%;
        position: relative;
    }
    .nav__block{
        width: 100%;
        height: 100%;
        position: relative;
        nav{
            width: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                li{
                    padding: 11px 0;
                    a{
                        font-weight: 300;
                        line-height: normal;
                        font-size: 16px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        opacity: 0.6;
                        position: relative;
                        &::before,
                        &::after{
                            content: '';
                            width: 15px;
                            height: 1px;
                            background-color: transparent;
                            opacity: 0.7;
                            display: block;
                            position: absolute;
                            top: 50%;
                            -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                        }
                        &::before{
                            left: 0;
                            -webkit-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                        }
                        &::after{
                            right: 0;
                            -webkit-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                        }
                        &:hover{
                            opacity: 1;
                            text-decoration: none;
                            &::before,
                            &::after{
                                background-color: #fff;
                            }
                            &::before{
                                -webkit-transform: translate(-30px, -50%);
                                transform: translate(-30px, -50%);
                            }
                            &::after{
                                -webkit-transform: translate(30px, -50%);
                                transform: translate(30px, -50%);
                            }
                        }
                    }
                    &.current-menu-item{
                        a{
                            opacity: 1;
                            &::before,
                            &::after{
                                background-color: #fff;
                            }
                            &::before{
                                -webkit-transform: translate(-30px, -50%);
                                transform: translate(-30px, -50%);
                            }
                            &::after{
                                -webkit-transform: translate(30px, -50%);
                                transform: translate(30px, -50%);
                            }
                        }
                    }
                }
            }
        }
    }
    .social__links{
        z-index: 200;
    }
}
.sidebar__nav{
    max-width: 350px;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(34,34,34,0.9);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 100;
    &.large{
        max-width: 450px;
        width: 100%;
    }
    &.show__bar{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .bottom__row{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 28px 25px;
        .hide__sidebar{
            float: left;
            margin-top: 5.5px;
            &::before{
                content: '';
                width: 10.59px;
                height: 20px;
                display: block;
                float: left;
                background-image: url(../images/hide_sidebar.svg);
            }
            span{
                font-weight: 300;
                line-height: normal;
                font-size: 12px;
                text-transform: uppercase;
                color: #FFFFFF;
                cursor: pointer;
                float: left;
                margin: 3px 0 0 10.5px;
            }
        }
        .sharing__block{
            float: right;
            position: relative;
            >span{
                font-weight: 300;
                line-height: 34px;
                font-size: 12px;
                text-align: right;
                text-transform: uppercase;
                color: #FFFFFF;
                float: left;
                margin-right: 10px;
            }
            .social__links{
                width: auto;
                height: 34px;
                position: static;
                float: left;
                li{
                    margin: 0 3px;
                    a{
                        width: 34px;
                        height: 34px;
                    }
                }
            }
        }
    }
    .project__wrapper{
        width: 100%;
        height: 100%;
        padding: 167px 30px 90px;
    }
    .project__info{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        h1{
            font-weight: normal;
            line-height: normal;
            font-size: 32px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 0;
            &::after{
                content: '';
                width: 20px;
                height: 1px;
                display: block;
                background-color: #fff;
                opacity: 0.5;
                margin: 11px 0 12.5px;
            }
        }
        span.location{
            font-weight: 300;
            line-height: 12px;
            font-size: 14px;
            color: #FFFFFF;
            margin-bottom: 27.5px;
            display: block;
        }
        p{
            font-weight: 300;
            line-height: 24px;
            font-size: 16px;
            color: rgba(255,255,255,0.7);
        }
    }
    nav{
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
        }
        li{
            margin: 10.5px 0;
            width: 100%;
            float: left;
            a{
                font-weight: 300;
                line-height: normal;
                font-size: 16px;
                text-transform: uppercase;
                color: #FFFFFF;
                opacity: 0.6;
                position: relative;
                &::before,
                &::after{
                    content: '';
                    width: 15px;
                    height: 1px;
                    background-color: transparent;
                    opacity: 0.7;
                    display: block;
                    position: absolute;
                    top: 50%;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &::before{
                    left: 0;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }
                &::after{
                    right: 0;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }
                &:hover{
                    opacity: 1;
                    text-decoration: none;
                    &::before,
                    &::after{
                        background-color: #fff;
                    }
                    &::before{
                        -webkit-transform: translate(-30px, -50%);
                        transform: translate(-30px, -50%);
                    }
                    &::after{
                        -webkit-transform: translate(30px, -50%);
                        transform: translate(30px, -50%);
                    }
                }
            }
            &.current-menu{
                a{
                    opacity: 1;
                    &::before,
                    &::after{
                        background-color: #fff;
                    }
                    &::before{
                        -webkit-transform: translate(-30px, -50%);
                        transform: translate(-30px, -50%);
                    }
                    &::after{
                        -webkit-transform: translate(30px, -50%);
                        transform: translate(30px, -50%);
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .sidebar__nav .project__wrapper{
        padding: 100px 30px 90px;
    }
    .sidebar__nav .project__info h1{
        font-size: 20px;
    }
    .sidebar__nav .bottom__row .sharing__block span{
        display: none;
    }
}

.social__links{
    position: absolute;
    bottom: 25px;
    width: 100%;
    height: 40px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li{
        display: inline-block;
        margin: 0 5px;
        a,span{
            width: 40px;
            height: 40px;
            background-color: #222;
            border-radius: 50%;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            &.instagram{
                background-image: url(../images/instagram_icon.svg);
            }
            &.facebook{
                background-image: url(../images/facebook_icon.svg);
            }
            &.pinterest{
                background-image: url(../images/pinterest_icon.svg);
            }
            &.behance{
                background-image: url(../images/behance_icon.svg);
            }
            &:hover{
                background-color: #000;
            }
        }
    }
}
/*Small sidebar*/
.small__sidebar{
    width: 68px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(34,34,34,.9);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 1;
    &.show__bar{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    h2{
        font-weight: 300;
        line-height: 12px;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transform-origin: left top 0;
        position: absolute;
        width: 100vh;
        height: 68px;
        line-height: 68px;
        margin: 0;
        bottom: 0;
        text-align: center;
        white-space: nowrap;

    }
    .social__links{
        width: 100%;
        height: auto;
        text-align: center;
        position: absolute;
        bottom: 75px;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            width: 100%;
            display: block;
            float: left;
            margin: 15px 0 0;
            span{
                margin: auto;
            }
        }
    }
    .show__sidebar{
        position: absolute;
        width: 10.59px;
        height: 22px;
        left: 29px;
        bottom: 35px;
        background-image: url(../images/show_sidebar.svg);
        cursor: pointer;
    }
}
@include media-breakpoint-down(xs) {
    .full__nav .nav__col{
        width: 100%;
        height: 50%;
    }
    .full__nav {
        .line{
            top: inherit;
            width: inherit;
            height: 1px;
            right: 0px;
            left: 0px;
            bottom: -0.5px;
        }
        .nav__block {
            &.bottom{
                nav ul{
                    margin-bottom: -80px;
                }
            }
            &.top{
                nav ul{
                    margin-top: -80px;
                }
            }
            nav ul li{
                padding: 5px 0;
                a{
                    font-size: 14px;
                }
            }
        }
        .col{
            flex-basis: inherit!important;
            flex-grow: 1!important;
            .nav__block{
                height: 50%;
            }
        }
    }
    .small__sidebar h2{
        font-size: 12px;
    }
}

/*Main slider*/
.full__slider{
    width: 100%;
    height: 100vh;
    a{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .slide{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
        .content{
            position: absolute;
            bottom: 90px;
            left: 60px;
            opacity: 0;
            visibility: hidden;
            z-index: 100;
            -webkit-transition: all 1.3s ease;
            transition: all 1.3s ease;
            -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
            h2{
                font-size: 40px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
    .slide.slick-active{
        .content{
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
        
    }
    .slide__nav{
        width: 21px;
        height: 11px;
        display: block;
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -5.5px;
        cursor: pointer;
        z-index: 100;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        &.prev__slide{
            background-image: url(../images/prev_slide.svg);
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
        &.prev__slide:active{
            -webkit-transform: translateY(-15px) scale(0.9);
            transform: translateY(-15px) scale(0.9);
        }
        &.next__slide{
            background-image: url(../images/next_slide.svg);
            -webkit-transform: translateY(15px);
            transform: translateY(15px);
        }
        &.next__slide:active{
            -webkit-transform: translateY(15px) scale(0.9);
            transform: translateY(15px) scale(0.9);
        }
    }
}

/*Padding slider*/
.padding__slider{
    width: 100%;
    .slide{
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
        .content{
            position: absolute;
            bottom: 90px;
            left: 60px;
            opacity: 0;
            visibility: hidden;
            z-index: 100;
            -webkit-transition: all 1.3s ease;
            transition: all 1.3s ease;
            -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
            h2{
                font-size: 40px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
        .project__block{
            width: 25%;
            height: 50%;
            display: block;
            float: left;
            background-position: center;
            background-size: cover;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0.35);
                opacity: 0;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            .project__info{
                width: 100%;
                position: absolute;
                bottom: 0;
                background-color: rgba(34,34,34,0.8);
                padding: 16px 25px 18px 25px;
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                h2{
                    color: #FFFFFF;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 400;
                    &::after{
                        content: '';
                        display: block;
                        width: 20px;
                        height: 1px;
                        background-color: rgba(255,255,255,0.5);
                        margin: 10.5px 0 12.5px;
                    }
                }
                p{
                    font-weight: 300;
                    line-height: 12px;
                    font-size: 14px;
                    color: #FFFFFF;
                    margin-bottom: 0;
                }
            }
            &:hover{
                &::before{
                    opacity: 1;
                }
                .project__info{
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }
        }
        /*Services slider*/
        .text__block{
            width: 50%;
            float: left;
            height: 100%;
            position: relative;
            background-color: #fff;
            .content__wrapper{
                position: relative;
                width: 90%;
                margin: auto;
                height: 70%;
                overflow-y: auto;
                top: 15%;
                bottom: 15%;
            }
            .text__content{
                width: 80%;
                margin: 0 10%;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                h2{
                    font-weight: 300;
                    line-height: 36px;
                    font-size: 40px;
                    text-align: center;
                    color: #222222;
                    text-transform: none;
                    &::after{
                        content: '';
                        width: 60px;
                        height: 1px;
                        display: block;
                        background-color: #222;
                        margin: 27px auto 22px;
                    }
                }
                p{
                    font-weight: 300;
                    line-height: 24px;
                    font-size: 16px;
                    text-align: center;
                    color: #505050;
                    margin-bottom: 30px;
                }
            }
        }
        /*Image slider*/
        .image__block{
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
            .image__slider{
                width: 100%;
                height: 100%;
                .slide{
                    background-size: cover;
                    background-position: center;
                }
                .slide__nav{
                    width: 11px;
                    height: 21px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    margin-top: -10.5px;
                    cursor: pointer;
                    z-index: 100;
                    -webkit-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                    background-size: cover;
                    background-position: center;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    &.prev__slide{
                        background-image: url(../images/hide_sidebar.svg);
                        left: 25px;
                    }
                    &.prev__slide:active{
                        -webkit-transform: scale(0.9);
                        transform: scale(0.9);
                    }
                    &.next__slide{
                        background-image: url(../images/show_sidebar.svg);
                        right: 25px;
                    }
                    &.next__slide:active{
                        -webkit-transform: scale(0.9);
                        transform: scale(0.9);
                    }
                }
            }
        }
    }
    .slide.slick-active{
        .content{
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
        
    }
    .slide__nav{
        width: 21px;
        height: 11px;
        display: block;
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: 26px;
        cursor: pointer;
        z-index: 100;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        &.prev__slide{
            background-image: url(../images/prev_slide.svg);
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
        &.prev__slide:active{
            -webkit-transform: translateY(-15px) scale(0.9);
            transform: translateY(-15px) scale(0.9);
        }
        &.next__slide{
            background-image: url(../images/next_slide.svg);
            -webkit-transform: translateY(15px);
            transform: translateY(15px);
        }
        &.next__slide:active{
            -webkit-transform: translateY(15px) scale(0.9);
            transform: translateY(15px) scale(0.9);
        }
    }
    &.left__nav{
        >.slide__nav{
            right: auto;
            left: 25%;
            width: 20px;
            top: inherit;
            height: 10.59px;
            margin-left: -10px;
            margin-top: 0;
            background-position: center;
            background-size: cover;
            &.prev__slide{
                background-image: url(../images/arrow_up_grey.svg);
                -webkit-transform: translateY(0);
                transform: translateY(0);
                top: 85px;
                &:active{
                    -webkit-transform: scale(0.9);
                    transform: scale(0.9);
                }
            }
            &.next__slide{
                background-image: url(../images/arrow_down_grey.svg);
                -webkit-transform: translateY(0);
                transform: translateY(0);
                bottom: 20px;
                &:active{
                    -webkit-transform: scale(0.9);
                    transform: scale(0.9);
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .full__slider .slide .content h2,
    .padding__slider .slide .content h2{
        font-size: 32px;
    }
    .full__slider .slide .content{
        left: 30px;
    }
    .padding__slider .slide .project__block .project__info{
        padding: 15px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        h2{
            font-size: 14px;
        }
        p{
            font-size: 12px;
        }
    }
}
@include media-breakpoint-down(sm) {
    .padding__slider {
        .slide__nav{
            right: 10px;
        }
        .slide .project__block{
            width: 50%;
            height: 25%;
            .project__info{
                padding: 5px 40px 5px 5px;
                h2{
                    margin-bottom: 0;
                    &::after{
                        display: none;
                    }
                }
                p{
                    display: none;
                }
            }
        }
    }
    .padding__slider .slide .text__block .text__content{
        width: 100%;
        margin: 0;
        padding: 0 15px;
        position: static;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    .padding__slider.left__nav>.slide__nav{
        left: 50%;
    }
    a.service__nav{
        display: none;
    }
}
@include media-breakpoint-down(xs) {
    .full__slider .slide .content h2,
    .padding__slider .slide .content h2{
        font-size: 26px;
    }
}
/*Project slider*/
.project__slider{
    width: 100%;
    .project__slide{
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .slide__nav__middle{
        width: 21px;
        height: 11px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -11.5px;
        cursor: pointer;
        z-index: 100;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        &.prev__slide{
            background-image: url(../images/prev_slide.svg);
            top: 21px;
        }
        &.prev__slide:active{
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
        &.next__slide{
            background-image: url(../images/next_slide.svg);
            bottom: 21px;
        }
        &.next__slide:active{
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
    }
}
section.padding__section {
    position: relative;
    width: 100%;
    height: 100vh;
}
.project__navigation{
    position: absolute;
    z-index: 50;
    padding: 0;
    margin: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    &:hover{
        li{
            h6{
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            &.active{
                h6{
                    opacity: 1;
                    padding-right: 55px;
                }
                span{
                    width: 40px;
                    opacity: 1;
                }
            }
            &:hover{
                h6,
                span{
                    opacity: 1;
                }
            }
        }
    }
    li{
        position: relative;
        padding: 12px 0;
        cursor: pointer;
        h6{
            line-height: 14px;
            font-size: 16px;
            font-weight: 600;
            text-align: right;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.7;
            margin: 0;
            padding-right: 40px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            // -webkit-transform: translateX(-50%);
            // transform: translateX(-50%);
        }
        span{
            width: 30px;
            height: 2px;
            display: block;
            background-color: rgba(255,255,255,1);
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            opacity: 0.7;
        }
        &.active{
            h6{
                padding-right: 55px;
                opacity: 1;
                font-size: 18px;
            }
            span{
                width: 40px;
                opacity: 1;
                background-color: rgba(255,255,255,1);
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .project__navigation li {
        padding: 15px 0;
        h6{
            display: none;
        }
    }
}
/*Room slider*/
.room__slider{
    width: 100%;
    .slide{
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .slide__nav__middle{
        width: 11px;
        height: 21px;
        display: block;
        position: absolute;
        top: inherit;
        left: inherit;
        bottom: 25px;
        cursor: pointer;
        z-index: 100;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;

        &.prev__slide{
            background-image: url(../images/prev_image.svg);
            top: inherit;
            right: 65px;
            bottom: 25px;
        }
        &.prev__slide:active{
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
        &.next__slide{
            background-image: url(../images/next_image.svg);
            right: 35px;
            bottom: 25px;
        }
        &.next__slide:active{
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
    }
}
/*Service page*/
.page__section{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 65px;
}
/*Service navigation*/
a.service__nav{
    position: absolute;
    left: 25%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 100;
    font-weight: 300;
    line-height: 12px;
    font-size: 14px;
    color: #505050;
    cursor: pointer;
    opacity: 0.5;
    outline: none;
    &:hover{
        text-decoration: none;
        opacity: 1;
    }
    &.prev__service{
        top: 40px;
    }
    &.next__service{
        bottom: 40px;
    }
}
/*Page content*/
.page__content{
    width: 100%;
    height: 100%;
    padding-top: 65px;
    .half__block{
        width: 50%;
        height: 100%;
        position: relative;
        float: left;
        background-size: cover;
        background-position: center;
        background-color: #fff;
        .content__wrapper{
            position: relative;
            width: 90%;
            margin: auto;
            height: 100%;
            padding: 20px 0;
            overflow-y: auto;
        }
        .content{
            width: 84%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}
.phone__list,
.email__list{
    width: 100%;
    float: left;
    margin-bottom: 27px;
    padding-left: 33px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        display: block;
        top: 3px;
        left: 0;
    }
    a{
        font-weight: 300;
        line-height: 24px;
        font-size: 16px;
        color: #505050;
        clear: both;
        float: left;
    }
    
}
.phone__list::before{
    width: 18px;
    height: 18px;
    background-image: url(../images/phone.svg);
}
.email__list::before{
    width: 18px;
    height: 14px;
    top: 5px;
    background-image: url(../images/email.svg);
}
.social__block{
    width: 100%;
    float: left;
    span{
        font-weight: 300;
        line-height: 24px;
        font-size: 16px;
        color: #222222;
    }
    .social__links{
        position: static;
        text-align: left;
        margin-top: 9px;
        li{
            margin: 0 8px 0 0;
            a:hover{
                background-color: #696969;
            }
        }
    }
}
.google__map{
    width: 100%;
    height: 100%;
}
.contact__form{
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    padding: 40px 30px;
    background-color: rgba(34,34,34,0.8);
    text-align: center;
    h3{
        line-height: 20px;
        font-size: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 25px;
    }
}
@include media-breakpoint-down(sm) {
    .page__content .half__block{
        width: 100%;
        height: 50%;
        .content__wrapper{
            top: 10%;
            bottom: 10%;
            height: 80%;
            padding: 0;
            .content{
                width: 100%;
                padding: 0 15px;
                position: static;
                -webkit-transform: translate(0);
                transform: translate(0);
            }
        }
    }
    .padding__slider .slide {
        .text__block,
        .image__block{
            width: 100%;
            height: 50%;
        } 
    }
    .contact__form{
        display: none;
    }
}
/*Popup*/
.popup__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(34,34,34,.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.show__popup{
        opacity: 1;
        visibility: visible;
    }
}
.popup{
    max-width: 500px;
    width: 100%;
    padding: 45px 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    h3{
        line-height: normal;
        font-size: 18px;
        text-transform: uppercase;
        color: #222222;
        margin-bottom: 15px;
    }
    .close{
        width: 15px;
        height: 15px;
        display: block;
        background-image: url('../images/close.svg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 1;
    }
}
/*Contact form 7*/
span.wpcf7-not-valid-tip{
    display: none!important;
}
div.wpcf7-response-output{
    display: none!important;
}
.form__message{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .form__content{
        width: 100%;
        left: 0;
        position: absolute;
        top: 50%;
        padding: 45px 40px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    &.show__message{
        opacity: 1;
        visibility: visible;
    }
    h4{
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #222222;
        margin-bottom: 6px;
    }
    p{
        font-weight: 300;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #505050;
        margin-bottom: 0;
    }
    .close__message{
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        background-image: url('../images/close.svg');
        background-size: cover;
        background-position: center;
    }
}